$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.content {
  height: 300px;
  border: 2px solid black;
  text-align: center;
  overflow: scroll;
  background-color: #98FB98;
}
